name: CI

on: [push, pull_request]

jobs:
  ruby_rails_test_matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [2.4, 2.7]
        rails: ['5', '6.0', '6']
        exclude:
          - ruby: 2.4
            rails: 6

    steps:
    - uses: actions/checkout@v2

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Runs code QA and tests
      env:
        RAILS_VERSION: ~> ${{ matrix.rails }}
      run: |
        rm -rf Gemfile.lock
        sudo apt-get update
        sudo apt-get install libsqlite3-dev
        echo $RAILS_VERSION | grep -q '4' && export SQLITE3_VERSION='~> 1.3.6'
        echo $RAILS_VERSION | grep -q '4' && RUBOCOP_VERSION='~> 0.77'
        bundle
        bundle exec rake
